.home {
  padding: 4rem 2rem;
  line-height: 58px;
  font-size: 30px;
  font-family: "Archivo Black";
  animation: animate 1s linear;
}
.home h1:nth-child(1) {
  color: #eb4f43;
}
.home h1:nth-child(2) {
  color: #fff;
}

@keyframes animate {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
