.home {
  padding: 4rem 2rem;
  line-height: 58px;
  font-size: 30px;
  font-family: "Archivo Black";
  animation: animate 1s linear;
  height: 100vh;
  /*   position: relative;
 */
}
.home h1:nth-child(1) {
  color: #eb4f43;
}
.home h1:nth-child(2) {
  color: #fff;
}

.home__madeby {
  text-align: center;
  color: #fff;
  font-family: "Archivo Black";
  font-size: 10px;
  position: fixed;
  left: -66px;
  top: 300px;
  transform: rotate(270deg);
}
.home__madeby span {
  color: #eb4f43;
}
@keyframes animate {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
