.vision {
  padding: 4rem 2rem;
  line-height: 58px;
  font-size: 30px;
  font-family: "Archivo Black";
  animation: animate 1s linear;
  height: 100vh;
}

.vision h1:nth-child(1) {
  color: #eb4f43;
}
.vision h1:nth-child(2) {
  color: #fff;
}
