@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Limelight&family=Sacramento&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to top left, rgb(0, 0, 0), rgb(84, 83, 83))
    no-repeat;
}
